/* login.html stylesheet */
body {
	background-image: url('../img/nightclub.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}

.container {
	position:absolute;
	width: 350px;
	height: 210px;
	border:1px solid black;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	background-color: black;
}

.titlePanel {
	position: relative;
	width: 350px;
	height: 50px;
}

.titlePanel > h1 {
	position: absolute;
	color: rgb(255,255,255);
	font-family: sans-serif;
	font-weight: normal;
	font-size: 20px;
	margin: 0;
	padding:0;
	top:15px;
	left: 10px;
}

.loginButton {
	position: relative;
	height: 150px;
	background-color: black;
}

#loginBtnImg {
	position: relative;
	top: 1px;
	width: 350px;
}
